.contact-form__content {
    margin: 0 auto;
    padding: 15px 15px;
    max-width: 1200px;
}

.contact-form__title {
    margin-bottom: 40px;
    text-align: center;
}

.form {
    margin: 0 auto;
    width: 70%;
    text-align: left;
    line-height: 40px;
}

.form__group {
    display: flex;
    margin-bottom: 15px;
}

.form__group-title {
    width: 160px;
}

.form__label--item {
    font-weight: bold;
}

.form__label--required {
    margin-left: 5px;
    color: #ff0000;
}

.form__label--example-item {
    margin-left: 20px;
    color: #999;
}

.form__label--example-item2 {
    margin-left: 240px;
    color: #999;
}

.form__input--text-name input {
    margin-right: 10px;
    padding: 10px;
    width: 290px;
    height: 40px;
    border: 1px solid #999;
    border-radius: 5px;
    appearance: none;
}

.form__input--text input,
.form__input--textarea textarea {
    padding: 10px;
    width: 600px;
    border: 1px solid #999;
    border-radius: 5px;
    appearance: none;
}

.form__input--text input {
    height: 40px;
}

input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type="radio"] {
    position: relative;
    width: 40px;
    height: 40px;
    border: 1px solid #999;
    border-radius: 50%;
    vertical-align: -15px;
}

input[type="radio"]:checked:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #000;
    content: '';
}

.form__input--radio {
    margin-bottom: 41px;
}

.radio-label {
    margin: 0 30px 0 10px;
}

.form__input--text-postcode input {
    margin-left: 10px;
    padding: 10px;
    width: 570px;
    height: 40px;
    border: 1px solid #999;
    border-radius: 5px;
    appearance: none;
}

.form__input--textarea textarea {
    height: 120px;
    resize: none;
}

.form__error {
    margin-left: 20px;
    color: #ff0000;
    line-height: 10px;
}

.form__button {
    margin-top: 20px;
    text-align: center;
}

.form__button-submit {
    padding: 10px;
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background: #000;
    color: #fff;
    cursor: pointer;
}